<section id='about'>
	<div class='about__inner'>
		<button class='btn--about'><img inline src='x.svg'></button>
		<p class='about__byline'>By
			<a href='{{meta.author.url}}' target='_blank'>
				{{meta.author.name}}
			</a> and <a href='{{meta.author2.url}}' target='_blank'>
				{{meta.author2.name}}
			</a>. With data processing assistance from <a href='{{meta.author3.url}}' target='_blank'>
				{{meta.author3.name}}
			</a>.
		</p>
		<h4>Data and Methods</h4>
		<p>Data for this story were collected and processed using the <a href='https://www.mediawiki.org/wiki/API:Main_page'
				target='_blank'>Wikipedia API</a>. The period of collection was from July, 2015–May, 2019, from English
			Wikipedia. It was inspired in part by <a
				href='https://www.wearedorothy.com/collections/music/products/u-s-a-song-map-open-edition' target='_blank'>this
				map</a>.
		</p>
		<p>Person/city associations were based on the thousands of “People from X city” pages on Wikipedia.
			The top person from each city was determined by using median pageviews (with a minimum of 1 year of traffic). We
			chose to include multiple occurences for a single person because there is both no way to determine which is more
			accurate and people can “be from” multiple places.
		</p>
		<p>Get in touch with us by email at sup@pudding.cool.</p>
	</div>
</section>